* {
	box-sizing: border-box;
	font-family: Helvetica
}

html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 100px;
	font-size: 18px;
	line-height: 150%;
	background-image: url("../../assets/images/light_grey_@2X.jpg");
	width: 100%;
	color: #777777;
}

h1 {
	float: left;
	padding: 20px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 155px;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

#top-bar {
	clear: both;
	background-color: #ffffff;
	height: 100px;
	width: 100%;
	min-width: 960px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 4px;
}


nav {
	float: right;
	padding: 50px;
	margin-right: 5px;
	color: #dddddd;
}

/*unvisited link*/
a:link {
	color: #777777;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	font-size: 1em;

}

a:visited {
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

.wrapper {
	clear: both;
	width: 960px;
    margin: auto;
}

 h2 {
 	color: #4aaaa5;
 	font-family: 'Georgia', Times, Times New Roman, serif;
 }

 hr {
 	background-color: #dddddd;
 	display: block;
 	height: 3px;
 	border: 0;
 }

#bio-image {
	height: 200px;
	width: 200px;
	margin-right: 20px;
	margin-top: 15px;
	float: left;
}
 #about {
    margin-right: 30px;
 	width: 650px;
 	border-style: solid;
 	border-color: #dddddd;
 	border-width: 1px;
 	padding: 25px;
 	background-color: #ffffff;
 	margin-bottom: 40px;
 	float: left;
 }

/*contact page*/
form {
    width: 650px;
}

input[type=text] {
	width: 600px;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	color: #777777;
	font-size: 18px;
}

input[type=text]#message {
	padding: 70px 20px;
}

input[type=submit]#submit {
	padding: 12px 30px 12px 30px;
	background-color: #4aaaa5;
	color: white;
	border: none;
}

/*End of Contact Page*/

/*Start of Portfolio Page*/

#portfolio {
    position: relative;
	width: 650px;
    margin-right: 30px;
	max-height: 700px;
 	border-style: solid;
 	border-color: #dddddd;
 	border-width: 1px;
 	padding: 15px;
 	background-color: #ffffff;
 	margin-bottom: 40px;
 	float: left;
}

#portfolioImages {


}

.img {
	height: 130px;
	width: 260px;
	margin: 20px 20px 10px 20px;
}

h3-1 {
	position:absolute;
	top: 200px;
    left: 35px;
    background-color: #4aaaa5;
    color: white; 
    width: 260px;
    text-align: center;
    font-size: 18px;
    font-family: "'Georgia', Times, Times New Roman, serif;
}

h3-2 {
	position:absolute;
    top: 200px;
    left: 340px;
    background-color: #4aaaa5;
    color: white; 
    width: 260px;
    text-align: center;
    font-size: 18px;
    font-family: "'Georgia', Times, Times New Roman, serif;
}
h3-3 {
	position:absolute;
    top: 370px;
    left: 35px;
    background-color: #4aaaa5;
    color: white; 
    width: 260px;
    text-align: center;
    font-size: 18px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3-4 {
	position:absolute;
    top: 370px;
    left: 340px;
    background-color: #4aaaa5;
    color: white; 
    width: 260px;
    text-align: center;
    font-size: 18px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3-5 {
	position:absolute;
    top: 540px;
    left: 35px;
    background-color: #4aaaa5;
    color: white; 
    width: 260px;
    text-align: center;
    font-size: 18px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


h4 {
	text-align: center;
	color: #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#contact-info {
	border: solid;
    float: left;
	max-width: 260px;
	padding: 20px;
	border-color: #dddddd;
 	border-width: 1px;
 	background-color: white;
}

#github { 
    clear:both;
	width: 50px;
	height: 50px;
 }

 #linkedin { 
	width: 50px;
	height: 50px;
 }

 #stackoverflow { 
	width: 50px;
	height: 50px;
 }



footer {
	clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
	text-align: center;
	background-color: #666666;
	color: white;
	padding: 30px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 8px;
}

